{% extends "base.tmpl" %}
{% block title %} 404 {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>404 U Prick!</h1>
    <p>You managed to get a 404! Good work!</p>
    <p>Sangar, are you happy now??</p>
</div>
{% endblock %}