{% extends "base.tmpl" %}
{% block title %} About OETF {% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/">Main</a></li>
    <li class="active">About</li>
</ol>
<div class="jumbotron">
    <h1>Look! An about page!</h1>
    <p>Or rather what would be one. If I could be bothered to write it.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>What Is OETF Now??</h2>
        Well, the idea for OETF came from #oc, the IRC Channel of OpenComputer. We saw a few people talk about standards they developed for their programs.
        But they lacked one thing that could potentially really hurt those standards: A central place to post these standards and diskuss them.
        I mean, we can all agree that standards are a good thing. Yeah, you have to read them and sometimes following them can be a hassle, but the efford is so worth it!
        Your OS will be compatible with other OS'es or your program can run on every OS without a single line rewritten!
        So thats why we created this place. For free sharing of ideas for standards, developing standards and of course diskussing those standards.
    </div>
    <div class="col-md-6">
        <h2>Interested? Cool!</h2>
        This site is not fully finished (as in Not at all), but we'll make sure to announce on #oc as soon as it is. Make sure to work on your standard until then!
    </div>
</div>
{% endblock %}