{% extends "base.tmpl" %}
{% block title %} {{ error_num }} {% endblock %}
{% block content %}
<h1>I BLAME SANGAR!!!</h1>
<div class="alert alert-danger">
    {{ exception_content }}
</div>
{% endblock %}